@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



.background{
    background-image: url(./assets/image.jpg);
    background-position: center;
    height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

::placeholder{
    color: palevioletred;
    font-weight: bold;
}

/* styles.css */
.message {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.message.show {
    opacity: 1;
}
/* Add these styles to your CSS file */

.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
  }
  
  .page-item {
    margin: 0 5px;
  }
  
  .page-link {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    color: #333;
    text-decoration: none;
  }
  
  .page-link:hover {
    background-color: #eee;
  }
  
  .active .page-link {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
  }
  
  .previous,
  .next {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    color: #333;
    text-decoration: none;
  }
  
  .previous:hover,
  .next:hover {
    background-color: #eee;
  }
  

